<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bit Coin App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50F8E79122C2923400D50A9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50F8E7A522C2923600D50A9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50F8E7B022C2923600D50A9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
